
/* font-size */
.font-xxsmall {
  font-size: 8px;
}

.font-xsmall {
  font-size: 10px;
}

.font-small {
  font-size: 12px;
}

.font-middle {
  font-size: 16px;
}

.font-large {
  font-size: 20px;
}

.font-xlarge {
  font-size: 24px;
}

.font-xxlarge {
  font-size: 28px;
}

.font-xxlarge {
  font-size: 32px;
}


/* float */

.l-left {
  float: left;
}

.l-right {
  float: right;
}



/* relative */

.ms-section > div {
  position: relative;
}

.l-relative {
  position: relative;
}


/* 中央寄せ */

.flexbox{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap; /* Safari */
  flex-wrap: wrap;
}

.center {
  -webkit-justify-content: center; /* Safari */
  justify-content: center;
}

.sp-between {
  -webkit-justify-content: space-between; /* Safari */
  justify-content: space-between;
}

.x-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.y-center {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* sp pc */

@media(min-width: 540px){
  .is-pc {
    display: block;
  }

  .is-pc-ib {
    display: inline-block;
  }

  .is-sp,
  .is-sp-ib {
    display: none;
  }

}

@media(max-width: 540px){
  .is-sp {
    display: block;
  }

  .is-sp-ib {
    display: inline-block;
  }

  .is-pc,
  .is-pc-ib {
    display: none;
  }
}
