a {
  width: 100%;
  height: 100%;
}

a img {
  width: 100%;
}

.mv-container {
  width: 100%;
  height: 100vh;
}

.mv-container .logo {
  width: 40%;
  margin: 80px 0 40px 30%;
}

.remodal-btn {
  cursor: pointer;
}

.group-discription {
  font-size: 0.8rem;
}

.group-slide {
  position: relative;
  width: 94%;
  margin-left: 3%;
}

.group-slide::before {
  content:"";
  display: block;
  padding-top: 82%;
}

.group-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid #323232;
}

@media(max-width: 750px){
  .container {
    width: 94%;
    margin-left: 3%;
  }
  .mv-container .logo {
    width: 80%;
    margin: 80px 0 40px 10%;
  }

  .remodal {
    padding: 6% !important;
  }

  .group-logo-container img{
    width: 60%;
    text-align: center;
  }

  .group-slide {
    width: 100%;
    margin: 0;
  }
}
