a {
  width: 100%;
  height: 100%;
}

a img {
  width: 100%;
}

.mv-container {
  width: 100%;
  height: 100vh;
  position: relative;
}

.mv-container .logo {
  max-width: 360px;
  margin: 0 auto 40px;
  padding-top: 40px;
}

.scroll-icon {
  width: 300px;
  text-align: center;
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
}

.scroll-icon .icon {
  font-size: 2rem;
}

.logo-container {
  width: 90%;
  margin-left: 5%;
}

.remodal-btn {
  cursor: pointer;
}

.group-discription {
  font-size: 0.8rem;
}

.group-slide {
  position: relative;
  width: 94%;
  margin-left: 3%;
}

.group-slide::before {
  content:"";
  display: block;
  padding-top: 80.5%;
}

.group-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid #323232;
}

@media(max-width: 750px){
  .container {
    width: 94%;
    margin-left: 3%;
  }
  .mv-container .logo {
    width: 70%;
    margin: 0 0 20px 15%;
    padding-top: 40px;
  }

  .logo-container {
    width: 100%;
    margin-left: 0;
  }

  .remodal {
    padding: 2% !important;
  }

  .group-discription {
    padding: 0 6%;
  }

  .group-logo-container img{
    width: 60%;
    text-align: center;
  }

  .group-slide::before {
    content:"";
    display: block;
    padding-top: 83%;
  }

  .group-iframe {
    border: none;
  }

  .group-slide {
    width: 100%;
    margin: 0 0 20px 0;
  }
}
